{% extends 'base.html' %}

{% block comment %}
<div class="container">
    <h2 class="text-center my-4">Brendlar</h2>
    <div class="row">
        {% for brand in brands %}
        <div class="col-md-4">
            <div class="card shadow-sm mb-4">
                <div class="card-body text-center">
                    <h5 class="card-title">
                        <a href="{% url 'brand_detail' brand.pk %}" class="text-decoration-none fw-bold">
                            {{ brand.name }}
                        </a>
                    </h5>
                    <div class="d-flex justify-content-center mt-2">
                        <a href="{% url 'update_brand' brand.pk %}" class="btn btn-warning btn-sm me-2">✏️ Tahrirlash</a>
                        <a href="{% url 'delete_brand' brand.pk %}" class="btn btn-danger btn-sm">❌ O'chirish</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="text-center mt-4">
        <a href="{% url 'add_brand' %}" class="btn btn-primary">+ Yangi brend qo‘shish</a>
    </div>
</div>
{% endblock %}
