{% extends 'base.html' %}
{% load main_extras %}

{% block comment %}
            <div class="container d-flex flex-wrap gap-2 " >
                    {%send_all_colors as color%}
                    {%for rang in color %}
                    <a href="{% url 'color_detail' color_id=rang.id%}">
                        <button type="submit" class="btn btn-primary px-4 py-2 w-100" >{{rang.color}}</button>
                    </a>
                    {% endfor %}
            </div>
            <div class="container d-flex flex-wrap gap-2 mt-4">
                {%send_all_brands as brands%}
                {% for brand in brands %}
                    <a href="{% url 'brand_detail' brand_id=brand.id%}">
                        <button type="submit" class="btn btn-success px-4 py-2 w-100">{{ brand.name }}</button>
                    </a>
                {% endfor %}
            </div>
            <div class="container mt-3">
                <div class="row">
                    {%send_all_cars as cars%}
                    {% for car in cars %}
                    <div class="col-md-3">
                        <div class="card mb-4">
                            <a href="{% url 'car_detail' car_id=car.id %}">
                                <div class="card-body">

                                <p class="card-text">
                                    {% if car.photo %}
                                        <img src="{{ car.photo.url }}" alt="{{ car.name }}" class="img-fluid">
                                    {% else %}
                                        <p>Rasm mavjud emas</p>
                                    {% endif %}
                                    <h5 class="card-title">Model nomi:  {{ car.car_name }}</h5>
                                    <b>Model yili:</b> {{ car.date }} <br>
                                    <b>Narxi:</b> ${{ car.price }} <br>
                                    <b>Brend:</b> {{ car.brand.name }} <br>


                                </p>
                            </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div>

            </div>
{% endblock comment%}




